<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
      <br><br><br><br><br><br>
<center>
      <div class="register-form-container">
     <h2 class="text">Invalid Password</h2>
<br><h3>Password must include at least 1 small, 1 capital letter, 1 digit and 1 special character</h3><br><br>
<button type="send" name="button"  class="button"><a class="textcolor"href="/register">Try Again</a></button>
</div>
</center>
  </body>
</html>
