<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <br><br><br><br>
    <center>
      <h1>Main page</h1><br>
    <button type="send" name="button" class="button"><a href="/register">Register</a></button><br>
      <button type="send" name="button" class="button"><a href="/login">Login</a></button>
  </center>
  </body>
</html>
